/* Normalize CSS used */
body {
    background-color: #282C35;
    color: whitesmoke;
}

.site-title {
    text-align: center;
    text-decoration: underline;
    font-size: 18pt;

}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    margin: 1rem;
    padding: 0;
    list-style-type: none; 
}

#cards li {
    margin: 1rem;
    text-align: center;
    list-style-type: none; 
}

#cards img {
    width: 300px;
    height: 400px;
}
